*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D3CDD7;
}

.container{
    height: 60%;
    aspect-ratio: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: solid #2E282A;
    background-color: #2E282A;
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px;
}

.display{
    height: 25%;
    width: 94%;
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #D3CDD7;
    border: none;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px;
}

.mainText{
    color: #2E282A;
    margin: 0 3%;
    font-size: 2.49rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttons{
    height:75%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

.row{
    display: flex;
    width: 100%;
    /* justify-content: ; */
    align-items: center;
    height: 20%;
    justify-content: space-evenly;
}

.button{
    height: 85%;
    aspect-ratio: 1;
    border-radius: 100%;
    border: none;
    background-color: #8377D1;
    font-size: 1.5rem;
    color: #F1F0FA;
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px;
    transition: all 125ms;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 85%;
}

.button:hover{
    transform: translateY(-0.2rem);
    background-color: #F1F0FA;
    color:#2E282A
}

.clear:hover, .backspace:hover{
    background-color: #FF0035;
    color:#F1F0FA;
}

.operator:hover{
    background-color: #FF6700;
    color: #F1F0FA;
}

.operator{
    font-size: 2rem;
}

.equals:hover{
    background-color: #59FFA0;
}

.button:active{
    transform: translateY(0rem);
    box-shadow: none;
}

.clear, .equals{
    aspect-ratio: 2;
    border-radius: 3rem;
    color: #18143D;
    background-color: #D4D1F0;
    width: 45.5%; /*this shit fucking killed me */
}

.equals{
    font-size: 2.5rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
}