*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 60%;
    aspect-ratio: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.display{
    height: 25%;
    width: 100%;
}

.buttons{
    height:75%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010101;
}

.row{
    display: flex;
    width: 100%;
    /* justify-content: ; */
    align-items: center;
    height: 20%;
    justify-content: space-evenly;
}

.button{
    /* flex: 1 0 0; */
    height: 90%;
    aspect-ratio: 1;
    border-radius: 100%;
    border: solid black;
    background-color: #171717;
}

.purple{
    color: #c3c3ed;
}

.red{
    color: #d73529;
}

.beige{
    color: #c1a687;
}

.clear, .equals{
    aspect-ratio: 2;
    border-radius: 3rem;
}

.equals{
    background-color: #c1a687;
}

